<nav class="flex flex-col justify-center">
    <ul class="flex gap-10 justify-center text-center">
        <li class="flex flex-col">
            <i class="bi bi-house-fill"></i>
            Home
        </li>
        <li>
            <i class="bi bi-briefcase-fill"></i>
            Trabalhos</li>
        <li>
            <i class="bi bi-envelope-fill"></i>
            Contato</li>
        <li>
            <i class="bi bi-github"></i>
            <a href="https://github.com/nunesdotpy" target="_blank">GitHub</a></li>
    </ul>
    <hr>
</nav>