<nav class="flex flex-col justify-center">
  <ul class="flex gap-10 justify-center text-center">
    <li class="flex flex-col">
      <i class="bi bi-house-fill"></i>
      <p>Home</p>
    </li>
    <li>
      <i class="bi bi-briefcase-fill"></i>
      <p>Trabalhos</p>
    </li>
    <li>
      <i class="bi bi-envelope-fill"></i>
      <p>Contato</p>
    </li>
    <li>
      <a href="https://github.com/nunesdotpy" target="_blank">
        <i class="bi bi-github"></i>
        GitHub</a
      >
    </li>
  </ul>
  <hr />
</nav>
