@import "../../styles.scss";

nav {
  color: white;
  padding: 10px;
  hr {
    color: $content-color;
    width: 85%;
    margin: auto;
  }
  ul {
    padding: 10px 0;
    li {
      font-size: 20px;
      font-family: $font-pixel;
      color: $shade-color;
      transition: 0.2s;
      &:hover {
        color: $content-color;
        scale: 1.1;
        transition: 0.5s;
      }
    }
    i {
      font-size: 40px;
      display: flex;
      justify-content: center;
    }
  }
}
