* {
    color: white;
}

body {
    background-color: #161621;
}

nav {
    max-width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

nav li {
    list-style: none;
    margin: 15px;
}