@import "../../styles.scss";

#home {
  color: $content-color;
  max-width: 600px;
  h1 {
    text-align: center;
    color: $accent-color;
    font-family: $font-pixel;
  }
  p {
    width: 80%;
  }
}
